/*  your css code here. If applicable */
body {
    margin: 0px;
    padding: 0px;
    background-color: darkorchid;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

button {
    margin: 10px;
    padding: 16px;
    width: 130px;
    height: 70px;
    font-size: 16px;
    color: white;
    background-color: indigo;
    border: none;
    border-radius: 5px;
}